<div class="container">
  <div class="profil-card">
    <div class="profil-image">
      <%= cl_image_tag @user.picture.key,width: 150, height: 150, crop: :fill %>
    </div>
    <div class="profil-infos">
      <h2> <%= @user.name %></h2>
      <p><%= @user.email %></p>
    </div>
  </div> 
  
  <div class="reservations">
  
    <div class="reservations-queue">
      <h3>Mes réservations en attente:</h3>
        <% if @pending.empty? %>
        <div class="card-product">
          <div class="card-product-infos">
            <p>Vous n'avez pas de réservation en attente</p>
          </div>
          </div>
        <%else%>
          <% @pending.each do |reservation| %>
          <div class="card-product">
            <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
            <div class="card-product-infos">
              <h2> <%= reservation.party_place.name %></h2>
              <p><%= reservation.status %></p>
            </div>
            </div>
          <%end%>
        <%end%>
    </div>

    <div class="reservations-queue">
      <h3>Mes réservations:</h3>
        <% if @validate.empty? %>
        <div class="card-product">
          <div class="card-product-infos">
            <p>Vous n'avez pas de réservation en attente</p>
          </div>
          </div>
        <%else%>
          <% @validate.each do |reservation|  %>
          <div class="card-product">
            <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
            <div class="card-product-infos">
              <h2> <%= reservation.party_place.name %></h2>
              <p><%= reservation.status %></p>
            </div>
            </div>
          <%end%>
        <%end%>
    </div>
</div>
