<div class="container">
  
  <div class="profil-card">
    <div class="profil-image">
      <%= cl_image_tag @user.picture.key,width: 150, height: 150, crop: :fill %>
    </div>
    <div class="profil-infos">
      <h2> <%= @user.name %></h2>
      <p><%= @user.email %></p>
    </div>
  </div>

<h5>Mes Party Places</h5>
  <div class="show-cards">
<% places = @user.party_places %>
<% places.each do |place| %>
<%= link_to place do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path place.picture.key%>')">
   <%= place.name %>
  </div>
<% end %>
<% end %>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mes réservations</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mes demandes</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
  
      <div class="reservations">
  
        <div class="reservations-queue">
          <h5>Mes réservations en cours</h5>
          <% if @pending.empty? %>
            <div class="card-product">
              <div class="card-product-infos">
                <p>Vous n'avez pas de réservation en attente</p>
              </div>
          </div>
        <%else%>
          <% @pending.reverse.each do |reservation| %>
              <div class="card-product">
                <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
                <div class="card-product-infos">
                  <h2> <%= reservation.party_place.name %></h2>
                  <p><%= reservation.status %></p>
                  <p> Annuler </p>
                </div>
              </div>
          <%end%>
        <%end%>
        </div>

        <div class="reservations-queue">
          <h5>Mes réservations précédentes</h5>
          <% if @validate.empty? %>
            <div class="card-product">
              <div class="card-product-infos">
                <p>Vous n'avez pas de réservation en attente</p>
              </div>
            </div>
          <%else%>
            <% @validate.reverse.each do |reservation|  %>
              <div class="card-product">
                <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
                <div class="card-product-infos">
                  <h2> <%= reservation.party_place.name %></h2>
                  <p><%= reservation.status %></p>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
  
    </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <div class="reservations">
    
    <div class="reservations-queue">
          <h5>En attente de validation</h5>
          <% if @owned_pending.empty? %>
            <div class="card-product">
              <div class="card-product-infos">
                <p>Vous n'avez pas de réservation en attente</p>
              </div>
          </div>
        <%else%>
          <% @owned_pending.reverse.each do |reservation| %>
              <div class="card-product">
                <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
                <div class="card-product-infos">
                  <h2> <%= reservation.party_place.name %></h2>
                  <p><%= reservation.status %></p>
                  <p> Annuler </p>
                </div>
              </div>
          <%end%>
        <%end%>
        </div>

<div class="reservations-queue">
          <h5>Ils ont réservé</h5>
          <% if @owned_validate.empty? %>
            <div class="card-product">
              <div class="card-product-infos">
                <p>Vous n'avez pas de réservation en attente</p>
              </div>
          </div>
        <%else%>
          <% @owned_validate.reverse.each do |reservation| %>
              <div class="card-product">
                <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
                <div class="card-product-infos">
                  <h2> <%= reservation.party_place.name %></h2>
                  <p><%= reservation.status %></p>
                </div>
              </div>
          <%end%>
        <%end%>
        </div>



  </div>
  </div>
</div>
</div>

<%= render 'shared/footer' %>