<div class="container">
  <div class="row flex">
    <div class="col-xs-12 col-md-8">
      <div class="profil-card">
        <div class="profil-image">
          <%= cl_image_tag @user.picture.key,width: 150, height: 150, crop: :fill %>
        </div>
        <div class="profil-infos">
          <h2> <%= @user.name %></h2>
          <p><%= @user.email %></p>
        </div>
      </div>
    </div>
    <div class="col">
      <%= link_to "Créer un lieu de fête !", new_owner_party_place_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>

<% if @user.party_places.present? %>
<div class="container">
  <h5 class="title">Mes Party Places</h5>
  <div class="show-cards link-style">
    <% places = @user.party_places %>
    <% places.each do |place| %>
      <%= link_to place do %>
        <div class="card-category zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path place.picture.key%>')">
          <%= place.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>

<% if @user.party_places.present? %>
<div class="container mt-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mes réservations</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Gestion de mes Party Places</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">

      <div class="row mt-4">

        <div class="col-xs-12 col-md-6">
          <h5>J'aimerais y faire la fête</h5>
          <% if @pending.empty? %>
            <div class="card-product">
              <div class="card-product-infos">
                <p>Vous n'avez pas de réservation en attente</p>
              </div>

          </div>
        <%else%>
          <% @pending.reverse.each do |reservation| %>
              <div class="card-product">
                <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
                <div class="card-product-infos">
                  <h2> <%= reservation.party_place.name %></h2>
                  <p><%= reservation.status %></p>
                  <p> du <%= reservation.date_begin%> au <%= reservation.date_end%></p>
                 <p> <%= link_to "Annuler", cancel_reservation_path(reservation), method: :patch , remote: true %></p>
                </div>
              </div>
          <%end%>
        <%end%>
        </div>

        <div class="col-xs-12 col-md-6">
          <h5>Historique de mes fêtes</h5>
          <% if @validate.empty? %>
            <div class="card-product">
              <div class="card-product-infos">
                <p>Vous n'avez pas de réservation en attente</p>
              </div>
            </div>
          <%else%>
            <% @validate.reverse.each do |reservation|  %>
              <div class="card-product">
                <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
                <div class="card-product-infos">
                  <h2> <%= reservation.party_place.name %></h2>
                  <p><%= reservation.status %></p>
                  <p> du <%= reservation.date_begin%> au <%= reservation.date_end%></p>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>

    </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <div class="row mt-4">

    <div class="col-xs-12 col-md-6">
          <h5>En attente de validation</h5>
          <% if @owned_pending.empty? %>
            <div class="card-product">
              <div class="card-product-infos">
                <p>Vous n'avez pas de réservation en attente</p>
              </div>
          </div>
        <%else%>
          <% @owned_pending.reverse.each do |reservation| %>
              <div class="card-product">
                <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
                <div class="card-product-infos">
                  <h2> <%= reservation.party_place.name %></h2>
                  <p><%= reservation.status %></p>
                  <p> du <%= reservation.date_begin%> au <%= reservation.date_end%></p>
                </div>
                <div class="pic-activation">
                  <%= link_to "Confirmer", accept_owner_reservation_path(reservation), method: :patch, class:"validate" %>
                  <%= link_to "Décliner", decline_owner_reservation_path(reservation), method: :patch, class:"decline" %>
                </div>
                <div class="renter_pic">
                <%= cl_image_tag reservation.renter.picture.key, width: 100, height: 100, crop: :fill %>
                </div>
              </div>
          <%end%>
        <%end%>
        </div>
  <div class="col-xs-12 col-md-6">
          <h5>Historique de status</h5>
          <% if @owned_validate.empty? %>
            <div class="card-product">
              <div class="card-product-infos">
                <p>Vous n'avez pas de réservation en attente</p>
              </div>
          </div>
        <%else%>
          <% @owned_validate.reverse.each do |reservation| %>
              <div class="card-product">
                <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
                <div class="card-product-infos">
                  <h2> <%= reservation.party_place.name %></h2>
                  <p><%= reservation.status %></p>
                  <p> du <%= reservation.date_begin%> au <%= reservation.date_end%></p>
                    <div class="renter_pic">
                      <%= cl_image_tag reservation.renter.picture.key, width: 50, height: 50, crop: :fill %>
                    </div>
                </div>
              </div>
          <%end%>
        <%end%>
        </div>
  </div>
  </div>
 </div>
</div>
</div>
<%else%>
<div class="container">
<div class="row mt-4">

        <div class="col-xs-12 col-md-6">
          <h5>Mes réservations en cours</h5>
          <% if @pending.empty? %>
            <div class="card-product">
              <div class="card-product-infos">
                <p>Vous n'avez pas de réservation en attente</p>
              </div>

          </div>
        <%else%>

          <% @pending.reverse.each do |reservation| %>
              <div class="card-product">
                <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
                <div class="card-product-infos">
                  <h2> <%= reservation.party_place.name %></h2>
                  <p><%= reservation.status %></p>
                  <p> du <%= reservation.date_begin%> au <%= reservation.date_end%></p>
                 <p><%= link_to "Annuler", cancel_reservation_path(reservation), method: :patch , remote: true %></p>
                </div>
              </div>
          <%end%>
        <%end%>
        </div>

        <div class="col-xs-12 col-md-6">
          <h5>Mes réservations précédentes</h5>
          <% if @validate.empty? %>
            <div class="card-product">
              <div class="card-product-infos">
                <p>Vous n'avez pas de réservation en attente</p>
              </div>
            </div>
          <%else%>
            <% @validate.reverse.each do |reservation|  %>
              <div class="card-product">
                <%= cl_image_tag reservation.party_place.picture.key, width: 400, height: 360, crop: :fill %>
                <div class="card-product-infos">
                  <h2> <%= reservation.party_place.name %></h2>
                  <p><%= reservation.status %></p>
                  <p> du <%= reservation.date_begin%> au <%= reservation.date_end%></p>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>

    </div>
    </div>
<%end%>








<%= render 'shared/footer' %>
