<div class="banner">
  <!-- Recherche pour filtrer l'index -->
  <%= form_tag party_places_path, method: :get, class: "mx-auto d-flex w-25 mb-3" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Une ville ou faire la teuf!"
    %>
    <%= button_tag type: 'submit', class: "btn btn-primary" do %>
      <i class="fas fa-search" ></i>
    <% end %>
  <% end %>
</div>
<div class="home-container">

<h2>Découvrez un lieu unique pour faire la teuf!</h2>
  <div class="cards">
<% places = PartyPlace.all %>
<% places.first(3).each do |place| %>
<%= link_to place do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path place.picture.key%>')">
   <%= place.name %>
  </div>
<% end %>
<% end %>
  </div>
</div>


<%= render 'shared/footer' %>

