<div class="banner">
  <div class="search-bar">
    <div class="form-outline">
    <input id="search-bar-input" type="search" id="form1" class="form-control" placeholder="Une ville où faire la teuf!" />
  </div>
  <%= link_to party_places_path do %>
  <button id="search-button" type="button" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>
  <% end %>
</div>
</div>
<div class="home-container">

<h2>Découvrez un lieu unique pour faire la teuf!</h2>
  <div class="cards">
<% places = PartyPlace.all %>
<% places.first(3).each do |place| %>
<%= link_to place do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path place.picture.key%>')">
   <%= place.name %>
  </div>
<% end %>
<% end %>
  </div>
</div>


<%= render 'shared/footer' %>