<h1><%= @party_place.name %></h1>
<p> <strong>ADRESSE :</strong>
  <%= @party_place.address %></p>
<p> <strong>DESCRIPTION :</strong>
  <%= @party_place.description %></p>

<div class="img-pp">

<%= cl_image_tag @party_place.picture.key,
      width: 400, height: 360, crop: :fill %>

<%= link_to "Louez-moi", "#", class: "btn btn-flat" %>
</div>
